input[type=submit] {
  cursor: pointer;
}

.input {
  background: $purple-300 !important;
  border-radius: 24px;
  border: none;
  height: 50px;
  max-width: 260px;
  padding: 0px 15px;
  :focus {
    border: none;
    border-radius: 30px;
    outline-offset: transparent !important;
  }
}

.form-control::-webkit-input-placeholder {
  color: $purple-100;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: $purple-100;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: $purple-100;
  opacity: 1;
}
.form-control::placeholder {
  color: $purple-100;
  opacity: 1;
}