$purple-800: #5b32b4;
$purple-700: #6f52e5;
$purple-600: #7873ed;
$purple-500: #884bdf;
$purple-400: #a865e1;
$purple-300: #9572e8;
$purple-200: #a883e9;
$purple-100: #cec1f4;
$pink: #fb397d;
$yellow: #f1b922;