header {
  left: 0;
  padding: 0 5%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  &.sticky {
    background-color: $purple-500;
    box-shadow: 0 4px 20px rgba($black, 0.1);
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 999;
    & nav {
      padding: 0;
      & .navbar-brand {
        font-size: 50px;
      }
      & .nav-link {
        padding: 23px 15px !important;
        @include media-breakpoint-down(md) {
          padding: 5px 15px !important;
        }
      }
    }
    @include media-breakpoint-down(md) {
      height: 50px;
    }
  }
}

nav {
  & .navbar-brand {
    color: $white !important;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
    @include media-breakpoint-down(md) {
      font-size: 48px;
    }
  }
  & a.nav-link {
    color: $white !important;
    font-weight: 500;
    padding: 35px 15px !important;
    position: relative;
    transition-duration: 500ms;
    @include media-breakpoint-down(md) {
      padding: 5px 15px !important;
    }
  }
  .navbar-collapse {
    @include media-breakpoint-down(md) {
      padding: 20px;
      border-radius: 3px;
      background-color: $purple-800;
      text-align: left;
    }
  }
}

.nav-item a:before,
.nav-item a:after {
  opacity: 0;
  position: absolute;
  transition: all 0.3s;
}

.nav-item a:before {
  content: '(';
  left: 0;
  transform: translateX(5px);
}

.nav-item a:after {
  content: ')';
  right: 0;
  transform: translateX(-5px);
}

.nav-item a:hover:before,
.nav-item a:hover:after {
  opacity: 1;
  transform: translateX(0);
}

#mobilebtn {
  margin-top: 25px;
}