section {
  & .section--heading {
    padding-bottom: 50px;
    text-align: center;
    @include media-breakpoint-down(md) {
      padding-bottom: 20px;
    }
    h2 {
      color: $purple-800;
      font-size: 48px;
      font-weight: 300;
      margin: 0;
      @include media-breakpoint-down(md) {
        font-size: 32px;
      }
    }
    div.line {
      background-color: $pink;
      height: 2px;
      margin: 15px auto 0px auto;
      width: 80px;
    }
  }
}