.stats {
  background: linear-gradient(to left, $purple-600, $purple-400);
  padding-bottom: 80px;
  padding-top: 150px;
  position: relative;
  top: -100px;
  z-index: -1;
  &--single {
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
  }
  &--counter {
    align-self: flex-end;
    min-width: 100px;
    p {
      color: $white;
      font-size: 60px;
      line-height: 1;
      margin-bottom: 0;
    }
  }
  &--description {
    i {
      color: $white;
      font-size: 36px;
    }
    p {
      color: $white;
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}