.video {
  margin-top: 100px;
  &--container {
    border: 20px solid $white;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    position: relative;
    @include media-breakpoint-down(md) {
      border: 10px solid $white;
      border-radius: 10px;
    }
    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}