@import 'vendor/bootstrap/bootstrap';

@import 'vars/colors';
@import 'vars/fonts';

@import 'components/anchor';
@import 'components/button';
@import 'components/card';
@import 'components/form';
@import 'components/icons';

@import 'layout/about';
@import 'layout/contact';
@import 'layout/features';
@import 'layout/feedback';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/membership';
@import 'layout/pricing';
@import 'layout/stats';
@import 'layout/section';
@import 'layout/screenshots';
@import 'layout/team';
@import 'layout/video';
@import 'layout/welcome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}